<nav
  class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"
  style="margin-bottom: 0 !important"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CampBliss</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">New Campground</a>
      </div>

      <div class="navbar-nav ms-auto">
        <% try { %> <% if(typeof currentUser !== 'undefined' && currentUser) {
        %>

        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>


        <% } else { %>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% } %> <% } catch (e) { %>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% } %>
      </div>
      <nav
        class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"
        style="margin-bottom: 0 !important"
      >
    
      </nav>
    </div>
  </div>
</nav>

<!-- Logout Confirmation Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="logoutModalLabel">Confirm Logout!!</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to log out?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirmLogout">Yes, Log Out</button>
      </div>
    </div>
  </div>
</div>



<script>
document.getElementById('confirmLogout').addEventListener('click', function() {
    window.location.href = '/logout';
});
</script>
